
@keyframes hero-height-entrance-animation {
  from {
    height: 100vh;
  } to {
    height: 550px;
  }
}

@keyframes hero-cloud-left-entrance-animation {
  from {
    transform: translateX(-100%);
  } to {
    transform: translateX(0);
  }
}

@keyframes hero-cloud-second-left-entrance-animation {
  from {
    left: 0;
    transform: translateX(-100%);
  } to {
    left: 120px;
    transform: translateX(0);
  }
}

@keyframes hero-cloud-right-entrance-animation {
  from {
    transform: translateX(100%);
  } to {
    transform: translateX(0);
  }
}

@keyframes shake-animation {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
