
@font-face {
  font-family: 'Caviar Dreams';
  font-weight: bold;
  src: url('~assets/fonts/caviar-dreams/CaviarDreams-Bold.woff2') format('woff2'),
    url('~assets/fonts/caviar-dreams/CaviarDreams-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Satisfy';
  src: url('~assets/fonts/satisfy/Satisfy-Regular.woff2') format('woff2'),
    url('~assets/fonts/satisfy/Satisfy-Regular.woff') format('woff');
}
