
// .hides-scrollbars {
//   &::-webkit-scrollbar { 
//     display: none; 
//   }
// }

// .fixed-overlay,
// .overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
// }

// .absolute-overlay {
//   @extend .overlay;
//   position: absolute;
// }

// .gradient-background {
//   background-image: radial-gradient(
//     farthest-corner at center right,
//     from-palette(cello) 15%,
//     from-palette(big-stone) 80%
//   );
// }
