$palette: (
  white: white,
  black: black,
  loblolly: #b9bbbe,
  rhino: #404852,
  bleu-de-france: #348ae7,
  ghost-white: #f7fbfe,
  dodger-blue: #2b9cf8,
  true-blue: #027ada,
  light-sky-blue: #87c6fb
);
